@font-face {
    font-family: "h1";
    src: url('../Fuentes/h1.ttf');
}


* {
    padding: 0;
    margin: 0;
    list-style: none;
}
html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.marca {
    width: 100%;
    display: table;
    padding: 10px;
    background-color: black;
}
.marca li {
    float: left;
    width: 8%;
    display: table;
    padding: 30px 20px 1px 20px;
    color: white;
    font-family: verdana,sans-serif;
    text-align: center;
    cursor: pointer;
}
.marca li:first-child {
    width: 50%;
    border: none;
    text-align: left;
    padding-top: 1px;
}
.marca li:first-child img {
    width: 200px;
    height: 40px;
    margin-left: 100px;
}
.marca li:first-child img:nth-child(2) {
    height: 30px;
}
.marca li:last-child {
    border: none;
}
.navMenu {
    width: 100%;
    display: table;
}
.navMenu li {
    float: left;
    width: 20%;
    height: 60px;
    font-size: 19px;
    font-family: calibri light;
    text-align: center;
    padding-top: 30px;
    cursor: pointer;
    border-bottom: 3px solid black;
}
.navMenu li:hover {
    background-color: gray;
    color: white;
    opacity: 0.8;
    transition: 1s;
}
.slider {
    width: 100%;
    margin: auto;
}
.slider ul {
    display: flex;
    width: 400%;
    animation: cambio 40s infinite alternate;
}
.slider ul li {
    width: 100%;
    transition: 1s;
}
.slider img {
    width: 100%;
    height: 500px;
}
#slide1 {
    background-image: url('../Imagenes/001.jpg');
    background-size: 100% 100%;
}
#slide2 {
    background-image: url('../Imagenes/005.jpg');
    background-size: 100% 100%;
}
#slide3 {
    background-image: url('../Imagenes/002.jpg');
    background-size: 100% 100%;
}
#slide4 {
    background-image: url('../Imagenes/004.jpg');
    background-size: 100% 100%;
}
section {
    width: 100%;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.mascaraUno {
    width: 100%;
    height: 650px;
    position: absolute;
    background-color: black;
    z-index: 1;
    opacity: 0.5;
}
.uno {
    background-image: url('../Imagenes/fondos/dos.jpg');
    background-size: 100% 140%;
}
.tituloSect {
    font-family: h1;
    width: 40%;
    text-align: center;
    float: left;
    margin-left: 2%;
    margin-top: 100px;
    position: relative;
    z-index: 10;
    
}
.tituloSect h1 {
    display: none;
    font-size: 75px;
    color: white;
}
.parrafoSect {
    font-family: calibri light;
    font-size: 28px;
    width: 40%;
    padding: 1%;
    margin-top: 50px;
    margin-left: 2%;
    text-align: center;
    position: relative;
    border-radius: 5px;
    clear: both;
    color: white;
    z-index: 12;
}
.parrafoSect p {
    color: white;
    width: 90%;
    margin-left: -200%;
    transition: 1s;
}
.leer {
    clear: both;
    margin-top: 500px;
    margin-left: -200px;
    position: absolute;
    z-index: 3;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}
.imgSect {
    width: 55%;
    height: 650px;
    float: right;
    margin-right: 2%;
    margin-top: -430px;
    position: relative;
    
    z-index: 2;
    transition: 1s;
}
.imgSect img {
    display: none;
    width: 95%;
}
.dos {
    padding-top: 70px;
    background-image: url('../Imagenes/fondos/panel.jpg');
    background-size: 100% 150%;
    color: white;
}
.dos h1 {
    width: 100%;
    text-align: center;
    font-family: h1;
    font-size: 75px;
}
.categorias {
    width: 100%;
    font-family: calibri ligth;
}
.categorias ul {
    width: 90%;
    height: 350px;
    margin: auto;
}
.categorias ul li {
    width: 32%;
    margin: 1%;
    float: left;
    text-align: center;
}
.categorias ul li:nth-child(2) {
    margin: 1% 0;
}
.categorias li h1 {
    width: 100%;
    font-size: 35px;
    text-align: center;
    
    font-family: h1;
}
.categorias li img {
    width: 100%;
    height: 450px;
    cursor: pointer;
}
.categorias li img:hover {
    transform: scale(1.2);
    transition: 1s;
}
.tituloCat {
    visibility: hidden;
    transition: 1s;
}
.imgCat {
    margin-left: -50px;
    visibility: hidden;
    transition: 2s;
}
.subTitCat {
    margin-left: 50px;
    visibility: hidden;
    transition: 3s;
}

.tres {
    cursor: pointer;
    background-image: url('../Imagenes/fondos/tres.jpg');
}
.tres h1 {
    font-family: h1;
    font-size: 60px;
    width: 100%;
    color: white;
    text-align: center;
    float: right;
    margin-top: 50px;
    position: relative;
    z-index: 2;
}

.tres img {
    width: 32%;
    height: 400px;
    float: left;
    margin-top: 30px;
    margin-bottom: 50px;
    position: relative;
    z-index: 2;
    transition: 2s;
    visibility: hidden;
}

.tres p {
    font-family: Calibri Light;
    font-size: 35px;
    width: 33%;
    padding: 1%;
    float: left;
    color: white;
    margin-top: 100px;
    text-align: center;
    position: relative;
    transition: 1.5s;
    visibility: hidden;
    z-index: 2;
}
#parrafoServ {
    visibility: hidden;
}
.cuatro {
    text-align: center;
    padding-top: 30px;
    background-image: url('../Imagenes/fondos/cuatro.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 140%;
}
.cuatro h1 {
    font-family: h1;
    font-size: 45px;
    margin-top: 40px;
    color: white;
    text-shadow: 2px 2px 4px black;
}
.cuatro p {
    width: 70%;
    font-family: calibri light;
    font-size: 30px;
    color: white;
    padding: 10px 20px;
    margin: auto;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    color: black;
    text-shadow: 2px 2px 4px white;
}
.contacto {
    margin-top: 40px;
    width: 45%;
    margin-left: 5%;
    float: left;
    display: table;
    padding-top: 10px;
    padding-bottom: 10px;
}
.contacto li {
    width: 47%;
    margin: 1%;
    float: left;
    display: table;
    text-align: center;
}
.contacto li input[type="text"] {
    width: 100%;
    height: 35px;
    font-size: 25px;
    font-family: calibri light;
}
.contacto li:nth-child(3) {
    width: 96%;
}
.contacto li:nth-child(4) {
    width: 96%;
}
.contacto li:nth-child(4) input[type="text"] {
    height: 200px;
}
.contacto li:last-child {
    width: 98%;
}
.contacto li input[type="button"] {
    width: 100px;
    height: 30px;
    cursor: pointer;
}
.map {
    width: 42%;
    float: right;
    margin-right: 5%;
    margin-top: 40px;
    height: 380px;
    border: 1px solid red;
}
.footer {
    bottom: 0;
    width: 100%;
    display: table;
    background-color: #0B0B3B;
    color: white;
    padding: 50px 20px 30px 20px;
}
.imgLogoFot {
    width: 30%;
    float: left;
    display: table;
}
.imgLogoFot img {
    width: 95%;
    text-align: center;
    display: table;
}
.imgLogoFot img:first-child {
    height: 60px
}
.imgLogoFot img:nth-child(2) {
    height: 30px;
}
.datosFooter {
    width: 30%;
    display: table;
    float: left;
    font-family: Calibri Light;
    font-size: 20px;
}
.datosFooter li {
    width: 100%;
    display: table;
    padding: 2px;
}
.datosFooter img {
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 5px;
}
.redes {
    width: 15%;
    float: left;
    font-family: h1;
}
.redes li {
    width: 100%;
    display: table;
    margin-top: 5px;
}
.redes img {
    width: 25px;
    height: 25px;
    float: left;
    margin-right: 5px;
}
.sitio {
    font-family: h1;
    font-size: 25px;
}
.sitio li {
    margin-top: 5px;
}
.sitio a {
    text-decoration: none;
    color: white;
}

.formulario {
    width: 400px;
    margin: auto;
    margin-top: 10px;
    display: table;
    border: 1px solid black;
    text-align: center;
    padding-bottom: 20px;
    background-image: url('../Imagenes/fondos/formulario.jpg');
    position: relative;
    display: none;
    z-index: 9999;
}
.salirContacto {
    width: 20px;
    height: 20px;
    font-size: 15px;
    font-family: kalinga;
    color: white;
    float: right;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    border: 1px solid white;
    border-radius: 100%;
    cursor: pointer;
}
.salirContacto:hover {
    background-color: white;color: white;
    color: black;
}
.salirMenu {
    width: 20px;
    height: 20px;
    font-size: 15px;
    font-family: kalinga;
    color: white;
    float: right;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    border: 1px solid white;
    border-radius: 100%;
    cursor: pointer;
}
.salirMenu:hover {
    background-color: white;color: white;
    color: black;
}
.formulario ul {
    width: 95%;
    margin: auto;
    margin-top: 5px;
    display: table;
    background-image: url('../Imagenes/fondos/listaForm.jpg');
}
.formulario ul li {
    width: 100%;
    display: table;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: Calibri Light;
}
.contactoMenu li:nth-child(2) {
    width: 50%;
    float: left;
}
.contactoMenu li:nth-child(3) {
    width: 50%;
    float: left;
}
.formulario li input[type="text"] {
    width: 90%;
    height: 30px;
}
.formulario li input[type="button"] {
    width: 100px;
    height: 30px;
}
.formulario li input[type="button"]:hover {
    background-image: url('../Imagenes/fondos/formulario.jpg');
    background-size: 100% 100%;
    color: white;
    cursor: pointer;
}
.formulario li select {
    width: 90%;
    height: 30px;
}

.resultadoBus {
    margin: auto;
    margin-top: 20px;
    display: table;
    border: 2px solid black;
    text-align: center;
    background-image: url('../Imagenes/fondos/formulario.jpg');
    font-family: Calibri Light;
    display: none;
}
.resultadoBus h2 {
    color: white;
}
.resultadoBus table {
    display: table;
    margin: 5px;
    border-collapse: collapse;
}
.resultadoBus td {
    background-color: rgba(255,255,255,0.8);
    padding: 5px;
    border-collapse: collapse;
    border: 1px solid gray;
}
.resultadoBus td input {
    height: 25px;
    padding: 0 10px;
    border-radius: 3px;
}
.resultadoBus td select {
    height: 25px;
    border-radius: 3px;
}
.resultadoBus td input[type="button"] {
    cursor: pointer;
    border-radius: 0;
}
.resultadoBus td input[type="button"]:hover {
    background-color: black;
    color: white;
}
.resultadoDescarga td:last-child {
    cursor: pointer;
    color: red;
}
.resultadoDescarga td:last-child:hover {
    color: blue;  
}
.salirTabla {
    width: 20px;
    height: 20px;
    position: relative;
    border-radius: 100%;
    border: 1px solid white;
    margin-top: -25px;
    margin-left: 5px;
    cursor: pointer;
    color: white;
}
.salirTabla:hover {
    background-color: white;
    color: black;
}
.salirDescarga {
    width: 40px;
    height: 40px;
    font-size: 25px;
    font-family: kalinga;
    text-align: center;
    color: white;
    float: right;
    margin-top: 35px;
    margin-right: 250px;
    border: 1px solid white;
    border-radius: 100%;
    cursor: pointer;
}
.salirDescarga:hover {
    background-color: white;color: white;
    color: black;
}
.mascara {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(1,1,1,0.7);
    display: none;
    position: fixed;
    z-index: 9000;
}


@keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left: 0;}
    
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}
    
    50% {margin-left: -200%;}
    70% {margin-left: -200%;}
    
    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}
/*Agregado edgar*/
.tablaDescarga {
    display: table;
    width: 95%;
    margin: auto;
    border-collapse: collapse;
}
.tablaDescarga td {
    background-color: rgba(255,255,255,0.8);
    padding: 5px;
    border-collapse: collapse;
    border: 1px solid gray;
}
.tablaDescarga td input {
    height: 25px;
    padding: 0 10px;
    border-radius: 3px;
}
.tablaDescarga td select {
    height: 25px;
    border-radius: 3px;
}
.tablaDescarga td input[type="button"] {
    cursor: pointer;
    border-radius: 0;
}
.tablaDescarga td input[type="button"]:hover {
    background-color: black;
    color: white;
}